.header {
  font-family: HSYuji-Regular;
  font-size: 45px;
  line-height: 33px;
  /* identical to box height, or 73% */
  margin-top: 65px;
  height: 50px;
  text-align: center;

  color: #3c3c3c;
}
