.quote {
  display: flex;
  width: 335;
}
.leftQuote {
}
.rightQuote {
  margin-left: auto;
}
.keySection {
  height: 130px;
  padding-top: 26px;
}
.keyword {
}
.keyBox {
  position: relative;
}
.keySnt {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  width: 300px;
  margin: auto;
  text-align: center;
  z-index: 3;
  color: #3c3c3c;
}
.sntBox {
  margin-bottom: 20px;
}
.keyName {
  width: 100%;
  left: 0px;
  font-family: HSYuji-Regular;
  font-size: 29px;
  line-height: 34px;
  text-align: center;

  z-index: 3;
  color: #3c3c3c;
}
.keyBack {
  position: absolute;
  text-align: center;
  top: 3px;
  /* opacity: 0.99; */
  z-index: 1;
  margin-left: 85px;
}
