@font-face {
  font-family: "IM_Hyemin-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HSYuji-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.download {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #727272;
}
.imageBox {
  text-align: center;
}
.charImage {
  width: 293px;
  height: 293px;
}
.boddy {
}
.page {
  background-image: url("/public/images/background.svg");
  height: calc(var(--vh, 1vh) * 250);
  background-size: cover;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  /* padding-inline: 20px;
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}
.mind {
  position: relative;
  text-align: center;
  /* height: 150px; */
}
.mindLevel {
  position: relative;

  z-index: 2;
}
.mindWordBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  margin-top: 40px;
  width: 250px;
}
.mindScoreBox {
  display: grid;
  grid-template-columns: 125px 100px;
  left: 140px;
  top: 40px;
  position: absolute;
}
.mindWord {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: right;

  color: #2d2d2d;
}
.mindScore {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: left;

  color: red;
}
.mindTag {
  position: relative;
  z-index: 2;
}
.mindBox {
  position: relative;
  width: 335px;
  height: 122px;
  top: -20px;
  margin: auto;
  /* top: 560px; */
  z-index: 1;
  background: #fffae3;
}
.charSection {
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: center;
  display: flex;
  height: 549px;
  margin-top: 26px;
}
.charBox {
  position: absolute;
  z-index: 1;
}
.listBox {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  top: 18px;
}
.charac_split {
  margin-right: 10px;
}
.charac {
  z-index: 2;
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 33px;
  /* or 236% */
  display: flex;
  color: #3c3c3c;
}
.charac_text {
  width: 280px;
}
.majorSection {
  margin-block: 26px;
  height: 135px;
}
.majorTag {
}
.majorName {
  position: relative;
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 70px;
  /* or 156% */
  height: 70px;

  text-align: center;

  color: #3c3c3c;
}
.majorTape {
  position: absolute;
  top: 0px;
  right: 0px;
}
#snt1 {
  margin-block: 15px;
}
.smstrSection {
  position: relative;
  height: 150px;
  z-index: 2;
  margin-top: 26px;
}
.smstrMent {
  position: absolute;
  z-index: 2;
}
.smstrText {
  position: relative;
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  width: 293px;
  height: 128px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: auto;
  align-items: center;
  justify-content: center;
  top: 20px;
  background: #fffae3;
  text-align: center;

  color: #3c3c3c;
}
.smstrBox {
  position: absolute;
  width: 293px;
  height: 128px;
  left: 19px;
  z-index: 1;
  top: 20px;
  background: #fffae3;
}
.teamSection {
  margin-block: 26px;
}
.teamBox {
  display: flex;
  text-align: center;
}
.teamLeft {
  margin-inline: auto;
}
.teamRight {
  margin-inline: auto;
}
.teamImg {
  width: 150px;
}
.teamText {
  font-family: HSYuji-Regular;
  font-size: 20px;
  line-height: 22px;
  /* or 110% */

  text-align: center;

  color: #3c3c3c;
}
.shareText {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */

  text-align: center;

  color: #000000;
}
.shareBox {
  margin-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.showFullChar {
  position: relative;
}
.showFullCharBox {
  width: 335px;
  height: 35px;
  margin-bottom: 26px;
  background: #fffae3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showFullCharIconBox {
  margin-right: 10px;
}
.showFullCharText {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  /* or 130% */

  text-align: center;
}
.retry {
  margin-block: 26px;
  text-align: center;
}
