.download {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #727272;
}
.headerBox {
  margin-top: 65px;
}
.imageBox {
  text-align: center;
  position: relative;
}
.charImage {
  width: 18.313rem;
  height: 18.313rem;
}
.charImage_gone_box {
  background-color: #fffdf1;
  border: 3px solid #ffcf55;
  margin-bottom: 0.5rem;
}
.boddy {
}
.page {
  background-image: url("/public/images/background.svg");
  /* height: calc(var(--vh, 1vh) * 250); */
  background-size: cover;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  /* padding-inline: 20px;
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}
/* .page_no_scroll {
  background-image: url("/public/images/background.svg");
  background-size: cover;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  overflow-y: scroll;
} */
.mind {
  position: relative;
  text-align: center;
  /* height: 150px; */
}
.mindLevel {
  position: relative;

  z-index: 2;
}
.mindWordBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  margin-top: 2.5rem;
  width: 15.625rem;
}
.mindScoreBox {
  display: grid;
  grid-template-columns: 7.813rem 6.25rem;
  left: 8.75rem;
  top: 2.5rem;
  position: absolute;
}
.mindWord {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  /* identical to box height, or 156% */

  text-align: right;

  color: #2d2d2d;
}
.mindScore {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  /* identical to box height, or 156% */

  text-align: left;

  color: red;
}
.mindTag {
  position: relative;
  z-index: 2;
}
.mindBox {
  position: relative;
  width: 20.938rem;
  height: 7.625rem;
  top: -1.25rem;
  margin: auto;
  /* top: 560px; */
  z-index: 1;
  background: #fffae3;
}
.charSection {
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: center;
  display: flex;
  height: 34.313rem;
  margin-top: 1.625rem;
}
.charBox {
  position: absolute;
  z-index: 1;
}
.listBox {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  top: 1.125rem;
}
.charac_split {
  margin-right: 0.625rem;
}
.charac {
  z-index: 2;
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 2.05rem;
  /* or 236% */
  display: flex;
  color: #3c3c3c;
}
.charac_text {
  width: 17.5rem;
}
.majorSection {
  width: 300px;
  margin-block: 1.625rem;
  height: 8.438rem;
}
.majorTag {
}
.majorName {
  position: relative;
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 4.375rem;
  /* or 156% */
  height: 4.375rem;

  text-align: center;

  color: #3c3c3c;
}
.majorTape {
  position: absolute;
  top: 0px;
  right: 0px;
}
#snt1 {
  margin-block: 0.938rem;
}
.smstrSection {
  position: relative;
  height: 9.375rem;
  z-index: 2;
  margin-top: 1.625rem;
}
.smstrMent {
  position: absolute;
  z-index: 2;
}
.smstrText {
  position: relative;
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  width: 18.313rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: auto;
  align-items: center;
  justify-content: center;
  top: 1.25rem;
  background: #fffae3;
  text-align: center;

  color: #3c3c3c;
}
.smstrBox {
  position: absolute;
  width: 18.313rem;
  height: 8rem;
  left: 1.188rem;
  z-index: 1;
  top: 1.25rem;
  background: #fffae3;
}
.teamSection {
  margin-block: 1.625rem;
}
.teamBox {
  display: flex;
  text-align: center;
}
.teamLeft {
  margin-inline: auto;
}
.teamRight {
  margin-inline: auto;
}
.teamImg {
  width: 9.375rem;
}
.teamText {
  font-family: HSYuji-Regular;
  font-size: 20px;
  line-height: 22px;
  /* or 110% */

  text-align: center;

  color: #3c3c3c;
}
.shareText {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */

  text-align: center;

  color: #3c3c3c;
}
.shareBox {
  margin-block: 1rem;
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.showFullChar {
  position: relative;
}
.showFullCharBox {
  width: 20.938rem;
  height: 2.188rem;
  margin-bottom: 1.625rem;
  background: #fffae3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showFullCharIconBox {
  margin-right: 0.625rem;
}
.showFullCharText {
  font-family: IM_Hyemin-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: #000000;
  line-height: 1.625rem;
  text-align: center;
  /* or 130% */

  text-align: center;
}
.retry {
  margin-block: 1.625rem;
  text-align: center;
}
